<div
    class="d-flex row justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<section class="row mb-2">
    <label class="col-sm-6 form-check-label">
        Did you travel recently?
    </label>
    <div class="col-sm-6">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Yes
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                No
            </label>
        </div>
    </div>
</section>

<section class="row mb-2">
    <label class="col-sm-6 form-check-label">
        Gender
    </label>
    <div class="col-sm-6">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Male
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Female
            </label>
        </div>
    </div>
</section>

<section class="row mb-2">
    <label class="col-sm-6 form-check-label">
        Symptoms
    </label>
    <div class="col-sm-6">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Diarrhea/Constipation
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Cough
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                High Fever
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Loss of Appetite
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Other
            </label>
        </div>
    </div>
</section>

<section class="row mb-2">
    <label class="col-sm-6 form-check-label">
        Laboratory Test Undertaken
    </label>
    <div class="col-sm-6">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Blood
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Stool
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Widal
            </label>
        </div>
    </div>
</section>

<section class="row">
    <label class="col-sm-6 form-check-label">
        Type of Specimen Collected
    </label>
    <div class="col-sm-6">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Blood
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Urine
            </label>
        </div>
    </div>
</section>

<div class="row pt-4 pb-4 mb-4">

    <icon-heartbeat class="rounded float-start pb-3"></icon-heartbeat>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="SaO2 (std)" aria-label="SaO2 (std)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Heart Rate (mean)" aria-label="Heart Rate (mean)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Heart Rate (std)" aria-label="Heart Rate (std)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Respiratory Rate (mean)"
            aria-label="Respiratory Rate (mean)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Respiratory Rate (std)"
            aria-label="Respiratory Rate (std)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Heart Rate Alarm Low (max)"
            aria-label="Heart Rate Alarm Low (max)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="SaO2 (mean)" aria-label="SaO2 (mean)">
    </div>

</div>

<div class="row pb-4 mb-4">

    <icon-temperature class="rounded float-start pb-3"></icon-temperature>
    
    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Temperature (mean)" aria-label="Temperature (mean)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Temperature (std)" aria-label="Temperature (std)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Skin Temperature (std)" aria-label="Skin Temperature (std)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Skin Temperature (mean)" aria-label="Skin Temperature (mean)">
    </div>

</div>

<div class="row pb-4 mb-4">

    <icon-blood-pressure class="rounded float-start pb-3"></icon-blood-pressure>
    
    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Blood Pressure Mean (std)" aria-label="Blood Pressure Mean (std)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Blood Pressure Systolic (std)" aria-label="Blood Pressure Systolic (std)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Blood Pressure Systolic (mean)" aria-label="Blood Pressure Systolic (mean)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Blood Pressure Diastolic (mean)" aria-label="Blood Pressure Diastolic (mean)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Blood Pressure Diastolic (std)" aria-label="Blood Pressure Diastolic (std)">
    </div>
    
</div>

<div class="row pb-4 mb-4">

    <icon-count class="rounded float-start pb-3"></icon-count>
    
    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="D10W Amount (mean)" aria-label="D10W Amount (mean)">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Prescriptions Count" aria-label="Prescriptions Count">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Date Events Count" aria-label="Date Events Count">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="White Blood Count" aria-label="White Blood Count">
    </div>

    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Platelet" aria-label="Platelet">
    </div>
    
</div>